on:
  push:
    branches:
      - master
    paths:
      - 'routes/**/*.php'
jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World"
